@font-face {
    font-family: "icons";
    src: url("./icons.eot?9f230defbf3f4f6d1bc02cc89a5d2e14#iefix") format("embedded-opentype"),
url("./icons.woff2?9f230defbf3f4f6d1bc02cc89a5d2e14") format("woff2"),
url("./icons.woff?9f230defbf3f4f6d1bc02cc89a5d2e14") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-1:before {
    content: "\f101";
}
.icon-arrow-10:before {
    content: "\f102";
}
.icon-arrow-11:before {
    content: "\f103";
}
.icon-arrow-12:before {
    content: "\f104";
}
.icon-arrow-13:before {
    content: "\f105";
}
.icon-arrow-15:before {
    content: "\f106";
}
.icon-arrow-16:before {
    content: "\f107";
}
.icon-arrow-17:before {
    content: "\f108";
}
.icon-arrow-18:before {
    content: "\f109";
}
.icon-arrow-19:before {
    content: "\f10a";
}
.icon-arrow-2:before {
    content: "\f10b";
}
.icon-arrow-20:before {
    content: "\f10c";
}
.icon-arrow-21:before {
    content: "\f10d";
}
.icon-arrow-22:before {
    content: "\f10e";
}
.icon-arrow-3:before {
    content: "\f10f";
}
.icon-arrow-5:before {
    content: "\f110";
}
.icon-arrow-7:before {
    content: "\f111";
}
.icon-arrow-9:before {
    content: "\f112";
}
.icon-box-1:before {
    content: "\f113";
}
.icon-box-2:before {
    content: "\f114";
}
.icon-box-3:before {
    content: "\f115";
}
.icon-box-4:before {
    content: "\f116";
}
.icon-box-5:before {
    content: "\f117";
}
.icon-box-6:before {
    content: "\f118";
}
.icon-box-7:before {
    content: "\f119";
}
.icon-box-8:before {
    content: "\f11a";
}
.icon-calendar-1:before {
    content: "\f11b";
}
.icon-calendar-2:before {
    content: "\f11c";
}
.icon-calendar-3:before {
    content: "\f11d";
}
.icon-calendar-4:before {
    content: "\f11e";
}
.icon-calendar-5:before {
    content: "\f11f";
}
.icon-calendar-6:before {
    content: "\f120";
}
.icon-calendar-7:before {
    content: "\f121";
}
.icon-calendar-8:before {
    content: "\f122";
}
.icon-cancel-1:before {
    content: "\f123";
}
.icon-cancel-2:before {
    content: "\f124";
}
.icon-chart-1:before {
    content: "\f125";
}
.icon-chart-10:before {
    content: "\f126";
}
.icon-chart-11:before {
    content: "\f127";
}
.icon-chart-12:before {
    content: "\f128";
}
.icon-chart-13:before {
    content: "\f129";
}
.icon-chart-14:before {
    content: "\f12a";
}
.icon-chart-15:before {
    content: "\f12b";
}
.icon-chart-16:before {
    content: "\f12c";
}
.icon-chart-2:before {
    content: "\f12d";
}
.icon-chart-3:before {
    content: "\f12e";
}
.icon-chart-4:before {
    content: "\f12f";
}
.icon-chart-5:before {
    content: "\f130";
}
.icon-chart-6:before {
    content: "\f131";
}
.icon-chart-7:before {
    content: "\f132";
}
.icon-chart-8:before {
    content: "\f133";
}
.icon-chart-9:before {
    content: "\f134";
}
.icon-clock-1:before {
    content: "\f135";
}
.icon-clock-2:before {
    content: "\f136";
}
.icon-clock-3:before {
    content: "\f137";
}
.icon-config-1:before {
    content: "\f138";
}
.icon-config-2:before {
    content: "\f139";
}
.icon-config-3:before {
    content: "\f13a";
}
.icon-config-4:before {
    content: "\f13b";
}
.icon-config-5:before {
    content: "\f13c";
}
.icon-config-6:before {
    content: "\f13d";
}
.icon-config-7:before {
    content: "\f13e";
}
.icon-config-8:before {
    content: "\f13f";
}
.icon-config-9:before {
    content: "\f140";
}
.icon-edit-1:before {
    content: "\f141";
}
.icon-edit-2:before {
    content: "\f142";
}
.icon-file-1:before {
    content: "\f143";
}
.icon-file-10:before {
    content: "\f144";
}
.icon-file-11:before {
    content: "\f145";
}
.icon-file-12:before {
    content: "\f146";
}
.icon-file-13:before {
    content: "\f147";
}
.icon-file-14:before {
    content: "\f148";
}
.icon-file-15:before {
    content: "\f149";
}
.icon-file-16:before {
    content: "\f14a";
}
.icon-file-17:before {
    content: "\f14b";
}
.icon-file-18:before {
    content: "\f14c";
}
.icon-file-19:before {
    content: "\f14d";
}
.icon-file-2:before {
    content: "\f14e";
}
.icon-file-20:before {
    content: "\f14f";
}
.icon-file-21:before {
    content: "\f150";
}
.icon-file-22:before {
    content: "\f151";
}
.icon-file-23:before {
    content: "\f152";
}
.icon-file-24:before {
    content: "\f153";
}
.icon-file-25:before {
    content: "\f154";
}
.icon-file-26:before {
    content: "\f155";
}
.icon-file-27:before {
    content: "\f156";
}
.icon-file-28:before {
    content: "\f157";
}
.icon-file-29:before {
    content: "\f158";
}
.icon-file-3:before {
    content: "\f159";
}
.icon-file-30:before {
    content: "\f15a";
}
.icon-file-4:before {
    content: "\f15b";
}
.icon-file-5:before {
    content: "\f15c";
}
.icon-file-6:before {
    content: "\f15d";
}
.icon-file-7:before {
    content: "\f15e";
}
.icon-file-8:before {
    content: "\f15f";
}
.icon-file-9:before {
    content: "\f160";
}
.icon-house-1:before {
    content: "\f161";
}
.icon-kit-1:before {
    content: "\f162";
}
.icon-kit-10:before {
    content: "\f163";
}
.icon-kit-11:before {
    content: "\f164";
}
.icon-kit-12:before {
    content: "\f165";
}
.icon-kit-13:before {
    content: "\f166";
}
.icon-kit-14:before {
    content: "\f167";
}
.icon-kit-15:before {
    content: "\f168";
}
.icon-kit-16:before {
    content: "\f169";
}
.icon-kit-17:before {
    content: "\f16a";
}
.icon-kit-18:before {
    content: "\f16b";
}
.icon-kit-19:before {
    content: "\f16c";
}
.icon-kit-2:before {
    content: "\f16d";
}
.icon-kit-20:before {
    content: "\f16e";
}
.icon-kit-21:before {
    content: "\f16f";
}
.icon-kit-22:before {
    content: "\f170";
}
.icon-kit-23:before {
    content: "\f171";
}
.icon-kit-24:before {
    content: "\f172";
}
.icon-kit-25:before {
    content: "\f173";
}
.icon-kit-26:before {
    content: "\f174";
}
.icon-kit-27:before {
    content: "\f175";
}
.icon-kit-28:before {
    content: "\f176";
}
.icon-kit-29:before {
    content: "\f177";
}
.icon-kit-3:before {
    content: "\f178";
}
.icon-kit-30:before {
    content: "\f179";
}
.icon-kit-31:before {
    content: "\f17a";
}
.icon-kit-32:before {
    content: "\f17b";
}
.icon-kit-33:before {
    content: "\f17c";
}
.icon-kit-34:before {
    content: "\f17d";
}
.icon-kit-35:before {
    content: "\f17e";
}
.icon-kit-36:before {
    content: "\f17f";
}
.icon-kit-37:before {
    content: "\f180";
}
.icon-kit-38:before {
    content: "\f181";
}
.icon-kit-39:before {
    content: "\f182";
}
.icon-kit-4:before {
    content: "\f183";
}
.icon-kit-40:before {
    content: "\f184";
}
.icon-kit-41:before {
    content: "\f185";
}
.icon-kit-42:before {
    content: "\f186";
}
.icon-kit-43:before {
    content: "\f187";
}
.icon-kit-44:before {
    content: "\f188";
}
.icon-kit-5:before {
    content: "\f189";
}
.icon-kit-6:before {
    content: "\f18a";
}
.icon-kit-7:before {
    content: "\f18b";
}
.icon-kit-8:before {
    content: "\f18c";
}
.icon-kit-9:before {
    content: "\f18d";
}
.icon-mail-1:before {
    content: "\f18e";
}
.icon-money-1:before {
    content: "\f18f";
}
.icon-money-2:before {
    content: "\f190";
}
.icon-money-3:before {
    content: "\f191";
}
.icon-money-4:before {
    content: "\f192";
}
.icon-money-5:before {
    content: "\f193";
}
.icon-money-6:before {
    content: "\f194";
}
.icon-money-7:before {
    content: "\f195";
}
.icon-money-8:before {
    content: "\f196";
}
.icon-money-9:before {
    content: "\f197";
}
.icon-plus-1:before {
    content: "\f198";
}
.icon-plus-2:before {
    content: "\f199";
}
.icon-print-1:before {
    content: "\f19a";
}
.icon-search-1:before {
    content: "\f19b";
}
.icon-social-1:before {
    content: "\f19c";
}
.icon-social-2:before {
    content: "\f19d";
}
.icon-social-3:before {
    content: "\f19e";
}
.icon-social-4:before {
    content: "\f19f";
}
.icon-social-5:before {
    content: "\f1a0";
}
.icon-social-6:before {
    content: "\f1a1";
}
.icon-social-7:before {
    content: "\f1a2";
}
.icon-social-8:before {
    content: "\f1a3";
}
.icon-star-1:before {
    content: "\f1a4";
}
.icon-success-1:before {
    content: "\f1a5";
}
.icon-success-2:before {
    content: "\f1a6";
}
.icon-success-3:before {
    content: "\f1a7";
}
.icon-trash-1:before {
    content: "\f1a8";
}
.icon-trash-2:before {
    content: "\f1a9";
}
.icon-trash-3:before {
    content: "\f1aa";
}
.icon-user-1:before {
    content: "\f1ab";
}
.icon-user-10:before {
    content: "\f1ac";
}
.icon-user-11:before {
    content: "\f1ad";
}
.icon-user-12:before {
    content: "\f1ae";
}
.icon-user-13:before {
    content: "\f1af";
}
.icon-user-14:before {
    content: "\f1b0";
}
.icon-user-15:before {
    content: "\f1b1";
}
.icon-user-16:before {
    content: "\f1b2";
}
.icon-user-17:before {
    content: "\f1b3";
}
.icon-user-2:before {
    content: "\f1b4";
}
.icon-user-3:before {
    content: "\f1b5";
}
.icon-user-4:before {
    content: "\f1b6";
}
.icon-user-5:before {
    content: "\f1b7";
}
.icon-user-6:before {
    content: "\f1b8";
}
.icon-user-7:before {
    content: "\f1b9";
}
.icon-user-8:before {
    content: "\f1ba";
}
.icon-user-9:before {
    content: "\f1bb";
}
