.accordion {
    .accordion-tab {
        label {
            background: var(--gray-200);
            border: 1px solid transparent;
            border-radius: radius("sm");
            padding: spacing("3") spacing("4");
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            font-weight: fontWeight("bold");
        }

        input:checked ~ label {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-width: 1px;
            border-color: var(--text);

            .icon {
                transform: rotate(180deg);
            }
        }

        .content {
            overflow: hidden;
            background: var(--gray-200);
            border-radius: 0 0 radius("sm") radius("sm");

            p {
                margin: 0;
            }
        }

        input:checked ~ .content {
            border: 1px solid var(--text);
            border-top: 0;
            padding: spacing("2");
        }
    }

    input[type="radio"] {
        display: none;
    }
}

@each $color, $value in $colors {
    .accordion-#{$color} {
        .accordion-tab {
            label:hover,
            input:checked ~ label,
            input:checked ~ .content {
                border-color: #{$value};
            }
        }
    }
}