.card {
    background: var(--gray-100);
    border-radius: radius("sm");
    overflow: hidden;
    padding: spacing("4");

    .card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: spacing("2");

        h2 {
            font-size: fontSize("lg");
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
    }
}

.card-thumb {
    @extend .card;
    padding: 0;

    .card_thumb {
        img {
            width: 100%;
            aspect-ratio: 16 / 9;
        }
    }

    .card_header {
        padding: spacing("4") spacing("4") 0;

        a {
            font-size: fontSize("lg");
            font-weight: fontWeight("bold");
            color: var(--text);

            &:hover {
                color: var(--gray-400);
            }
        }
    }

    .card_body {
        padding: 0 spacing("4") spacing("4");
    }
}

//Backgrounds
@each $color, $value in $colors {
    .card-#{$color} {
        color: $white !important;
        background: $value !important;
    }
}