.fab-container {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 2000;

    .fab {
        background: var(--primary);
        color: var(--white);
        border: none;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        font-size: 24px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        transition: all 0.3s ease;

        &:hover {
            background: var(--aura-700);
        }
    }

    .fab-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 70px;
        right: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateY(20px);
        transition: all 0.3s ease;

        .fab-option {
            margin-bottom: 10px;
            background: var(--secondary-500);
            color: white;
            border: none;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: var(--secondary-700);
            }
        }
    }

    &.active .fab-options {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}