.app_form {
  .label {
    display: block;
    width: 100%;
    margin-bottom: 0.3rem;

    .legend {
      display: block;
      margin-bottom: 0.1rem;
      font-size: $font-min;
      color: $gray-600;

      b {
        color: $red !important;
      }
    }

    input,
    select,
    textarea {
      display: block;
      width: 100%;
      color: $black;
      font-size: $font-small;
      padding: 0.5rem .8rem;
      background: $white;
      resize: none;
      border: 1px solid $gray-300;
      border-radius: 0.3rem;
      outline: none;
      transition: border 0.5s;

      &:focus {
        border-color: $gray-800 !important;
      }
    }

    input[type="date"] {
      // -webkit-appearance: none;
      font-size: $font-small !important;
      font-family: $font-primary !important;
      padding: 0.5rem 0.8rem !important;
      font-weight: $font-normal !important;
      color: $gray-700 !important;
    }

    /* Radios */
    .input-radio input {
      display: none !important;
    }

    .input-radio input + label:before {
      content: "";
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $gray-300;

      display: inline-flex;
      vertical-align: middle;
      margin-right: 0.24rem;
    }

    .input-radio input:checked + label:before {
      background: $primary;
    }
  }
}

.app_form_search {
  width: 100%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    font-size: $font-small;
    border: 1px solid $gray-400;
    border-right: none;
    border-radius: 0.3rem 0 0 0.3rem;
    outline: none;
    transition: 0.5s;

    &:focus {
      border-color: $gray-800;
    }
  }

  button {
    border: 1px solid $green;
    border-left: none;
    border-radius: 0 0.3rem 0.3rem 0;
    background: $green;
    padding: 0.43rem;
    color: $white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background: tint-color($green, 30%);
    }
  }
}

.progress_bar {
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  overflow: hidden;

  &::-webkit-progress-bar {
    background-color: #EEE;
  }

  &::-webkit-progress-value {
    background-color: $primary;
    transition: width 0.2s ease;
  }

  &::-moz-progress-bar {
    background-color: $primary;
    transition: width 0.2s ease;
  }

  &::-ms-fill {
    background-color: $primary;
    transition: width 0.2s ease;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
  }
}

@each $color, $value in $theme-colors {
  .app_form-#{$color} {
    .label {
      input,
      select,
      textarea {
        &:focus {
          border-color: $value;
        }
      }
    }
  }

  .app_form_search-#{$color} {
    input {
      &:focus {
        border-color: $value;
      }
    }

    button {
      background: $value;
      border-color: $value;

      &:hover {
        background: tint-color($value, 30%);
      }
    }
  }

  .bar-#{$color} {
    &::-webkit-progress-value {
      background-color: $value !important;
    }

    &::-moz-progress-bar {
      background-color: $value !important;
    }

    &::-ms-fill {
      background-color: $value !important;
    }
  }
}

/** Box_form **/
.box_form {
  display: grid;
  grid-template-columns: 1fr 240px;
  gap: 1.5rem;
}

@media (max-width: 42em) {
  .box_form {
    grid-template-columns: 1fr;
  }
}

/** Select2 styles **/
.select2.select2-container {
  width: 100% !important;

  .select2-selection {
    height: 37px !important;
    display: block;
    width: 100%;
    color: $black;
    font-size: $font-small;
    // padding: 0.2rem;
    background: $white;
    resize: horizontal;
    border: 1px solid $gray-300;
    border-radius: 0.3rem;
    outline: none;
    transition: 0.5s;

    &:focus {
      border-color: $primary;
    }

    .select2-selection__rendered {
      color: #000;
      line-height: 35px;
      padding-right: 33px;
    }

    .select2-selection__arrow {
      background: $white;
      -webkit-border-radius: 0 0.3rem 0.3rem 0;
      -moz-border-radius: 0 0.3rem 0.3rem 0;
      border-radius: 0 0.3rem 0.3rem 0;
      border: 1px solid $gray-300;
      border-left: none;
      height: 100%;
      width: 33px;
      margin-top: -1px;
      margin-right: -1px;
    }
  }

  .select2-selection--multiple {
    height: auto !important;
    display: block;
    width: 100%;
    color: $black;
    font-size: $font-small;
    // padding: 0.2rem;
    background: $white;
    resize: none;
    border: 1px solid $gray-300;
    border-radius: 0.3rem;
    outline: none;
    transition: 0.5s;

    &:focus {
      border-color: $primary;
    }

    .select2-search--inline {
      .select2-search__field {
        margin-top: 0;
        height: 40px;
      }
    }

    .select2-selection__rendered {
      display: block;
      padding: 0 4px;
      line-height: 29px;
    }

    .select2-selection__choice {
      background-color: $primary;
      border: 1px solid shade-color($primary, 30%);
      color: $white !important;

      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      border-radius: 0.3rem;

      margin: 4px 4px 0 0;
      padding: 0 0.5rem 0 1.8rem;
      font-size: $font-small;
      font-weight: $weight-strong;
      position: relative;

      .select2-selection__choice__remove {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 22px;
        margin: 0;
        text-align: center;
        color: $white;
        font-weight: bold;
        font-size: 16px;
        border-right: 1px solid shade-color($primary, 30%);

        &:hover {
          background: $red !important;
        }
      }
    }
  }
}

.select2.select2-container.select2-container--open {
  .select2-selection.select2-selection--single {
    background: #fff;
  }

  .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 0.3rem 0 0;
    -moz-border-radius: 0 0.3rem 0 0;
    border-radius: 0 0.3rem 0 0;
  }

  .select2-selection.select2-selection--multiple {
    border-color: $primary;
  }
}

.select2-container {
  .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -2px;

    .select2-search {
      padding: 0;

      input {
        outline: none !important;
        border: 1px solid $gray-300 !important;
        border-bottom: none !important;
        padding: 0.5rem 0.8rem !important;
        font-size: $font-small;
      }
    }

    .select2-results {
      padding: 0;

      ul {
        background: #fff;
        border: 1px solid $gray-300;

        .select2-results__option--highlighted[aria-selected] {
          background-color: $primary;
        }
      }
    }
  }
}
