.app_form {
  .label {
    display: block;
    width: 100%;
    position: relative;

    .legend {
      display: block;
      margin-bottom: 0.2rem;
      font-size: fontSize("xs");
      color: var(--color);
    }

    input,
    select,
    textarea {
      display: block;
      width: 100%;
      max-height: 45px;
      color: var(--foreground);
      font-size: fontSize("md");
      padding: spacing("3") spacing("4");
      background: var(--input);
      resize: none;
      border: 1px solid var(--border);
      border-radius: radius("md");
      outline: none;

      &::placeholder {
        color: var(--foreground) !important;
      }

      &:focus {
        border-color: var(--primary) !important;
      }
    }

    textarea {
      max-height: none !important;
    }

    input[type="date"] {
       -webkit-appearance: none;
      font-size: fontSize("md") !important;
      max-height: 45px;
      padding: spacing("3") spacing("4") !important;
      font-weight: fontWeight("regular") !important;
      color: var(--foreground) !important;
    }

    input[type="file"] {
      &::-webkit-file-upload-button {
        background: var(--primary);
        color: var(--white);
        padding: spacing("1") spacing("2");
        border-radius: radius("md");
        border: none;
        font-size: fontSize("xs");
        cursor: pointer;

        &:hover {
          background: var(--aura-600);
        }
      }
    }

    /* Radios and Chekboxes */
    label {
      display: flex;
      align-items: center;
      padding: spacing("3") spacing("4");
      max-height: 45px;
      border: 1px solid var(--border);
      border-radius: radius("md");
      cursor: pointer;

      &:has(input:checked) {
        border: 1px solid var(--primary);
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;

        &[type="radio"] {
          & ~ u {
            border-radius: radius("full");
          }

          &:checked ~ u {
            background: var(--primary) url(./radio.svg) no-repeat center center / 50%;
          }
        }

        &:checked ~ u {
          background: var(--primary) url(./check.svg) no-repeat center center / 70%;
        }
      }

      u {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: var(--border);
        border-radius: radius("md");
        margin-right: spacing("1");
      }
    }

    /* Inputs Groups */
    .group {
      display: flex;
      align-items: center;
      width: 100%;
      max-height: 45px;
      color: var(--foreground);
      padding-left: spacing("4");
      font-size: fontSize("md");
      background: var(--input);
      border: 1px solid var(--border);
      border-radius: radius("md");

      &:has(input:focus) {
        border-color: var(--primary);
      }

      input {
        border: none;
        padding: spacing("3") spacing("4");
        padding-left: spacing("2");

        &:focus {
          border: none;
        }
      }
    }

    .suggestions {
      width: 100%;
      margin-top: spacing("1");
      display: none;

      .suggestion {
        padding: spacing("2") spacing("4");
        cursor: pointer;
        background: var(--input);
        color: var(--foreground);

        &:hover {
          background: var(--primary);
          color: var(--white);
        }
      }
    }

    .label-loader {
      position: absolute;
      right: spacing("4");
      top: spacing("2");
      display: none;

      img {
        height: 28px;
      }
    }
  }

  .label-sm {
    @extend .label;

    input,
    select,
    textarea {
      max-height: 25px;
      font-size: fontSize("xs");
      padding: spacing("1") spacing("2");
    }

    input[type="date"] {
      -webkit-appearance: none;
      font-size: fontSize("xs") !important;
      max-height: 25px;
      padding: spacing("1") spacing("2") !important;
      font-weight: fontWeight("regular") !important;
      color: var(--foreground) !important;
    }

    .group {
      max-height: 35px;
      font-size: fontSize("sm");
      padding-left: spacing("3");

      input {
        padding: spacing("2") spacing("3");
        padding-left: spacing("2");
      }
    }
  }
}

.app_form_search {
  width: 100%;
  display: flex;
  align-items: center;

  input, textarea {
    display: block;
    width: 100%;
    max-height: 45px;
    color: var(--foreground);
    font-size: fontSize("md");
    padding: spacing("3") spacing("4");
    background: var(--input);
    resize: none;
    border: 1px solid var(--border);
    border-right: none;
    border-radius: radius("md") 0 0 radius("md");
    outline: none;

    &::placeholder {
      color: var(--foreground) !important;
    }
  }

  textarea {
    max-height: none !important;
  }

  button {
    height: 45px;
    border: 1px solid var(--border);
    border-left: none;
    border-radius: 0 radius("md") radius("md") 0;
    background: var(--card);
    font-size: fontSize("md");
    padding: spacing("3") spacing("4");
    color: var(--foreground);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background: var(--sidebar-accent);
    }
  }
}

.app_form_search_filter {
  @extend .app_form_search;

  button[type="submit"] {
    border-radius: 0 !important;
  }

  button[type="button"] {
    background: var(--card);
    border-color: var(--border);
    display: flex;
    align-items: center;
    gap: spacing("2");
    
    span {
      font-size: fontSize("xs")
    }
  }
}

.app_form_note {
  @extend .app_form_search;
  gap: spacing("2");
  align-items: center;

  input, textarea {
    border-radius: radius("md") !important;
  }

  textarea {
    max-height: none !important;
  }

  .img_thumb {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 45px;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      border-radius: radius("full");
      border: 1px solid var(--border);
      cursor: pointer;

      &:hover {
        border-color: var(--primary);
      }
    }
  }

  input {
    border-radius: radius("md");
    border: 1px solid var(--border);

    &:focus {
      border-color: var(--primary);
    }
  }
}

.app_form_task {
  @extend .app_form;

  .label {
    input[name="title"], textarea[name="title"] {
      font-size: 1.4rem;
      font-weight: 900;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: transparent;
      border-color: transparent;
      padding: 0;
      overflow: hidden;

      &:focus {
        border-color: transparent !important;
      }
    }

    textarea[name="description"] {
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background: transparent;
      padding: 0;
      max-height: none;
    }
  }
}

/** Select2 styles **/
.select2 {
  width: 0 !important;
  min-width: 100% !important;

  .selection {
    .select2-selection {
      display: block !important;
      width: 100% !important;
      min-height: 45px !important;
      color: var(--foreground);
      font-size: fontSize("md");
      background: var(--input);
      resize: none;
      border: 1px solid var(--border);
      border-radius: radius("md");
      outline: none;
      padding: spacing("3") spacing("4");

      &:focus {
        border: 1px solid var(--primary);
      }

      .select2-selection__rendered {
        height: 100%;
        padding-top: 0.6rem;
        line-height: 0;
        color: var(--foreground) !important;
      }

      .select2-selection__placeholder {
        color: var(--foreground) !important;
      }

      .select2-selection__arrow {
        height: 16px;
        width: 16px;
        top: spacing("4");
        right: spacing("4");
      }
    }

    .select2-selection--multiple {
      height: auto !important;
      display: block;
      width: 100%;
      color: var(--foreground);
      font-size: fontSize("md");
      background: var(--input) !important;
      resize: none;
      border: 1px solid var(--border) !important;
      border-radius: radius("md");
      outline: none;
      transition: 0.5s;

      &:focus {
        border-color: var(--primary);
      }

      .select2-search--inline {
        .select2-search__field {
          margin-top: 0;
          height: 40px;
        }
      }

      .select2-selection__rendered {
        display: block;
        padding: 0 4px;
        line-height: 29px;
        color: var(--foreground) !important;
      }

      .select2-selection__choice {
        background-color: var(--primary);
        border: 1px solid var(--aura-700);
        color: var(--white) !important;

        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        border-radius: 0.3rem;

        margin: 4px 4px 0 0;
        padding: 0 0.5rem 0 1.8rem;
        font-size: fontSize("sm");
        font-weight: fontWeight("bold");
        position: relative;

        .select2-selection__choice__remove {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 22px;
          margin: 0;
          text-align: center;
          color: var(--white);
          font-weight: bold;
          font-size: 16px;
          border-right: 1px solid var(--aura-700);

          &:hover {
            background: var(--aura-700) !important;
          }
        }
      }
    }
  }
}

.select2-container {
  .select2-dropdown {
    background: var(--input);
    border: none;
    z-index: 2100;

    .select2-search {
      padding: spacing("2");

      input {
        display: block;
        max-height: 45px;
        color: var(--foreground);
        font-size: fontSize("md");
        padding: spacing("3") spacing("4");
        background: var(--card);
        resize: none;
        border: 1px solid var(--border);
        border-radius: radius("md");
        outline: none;
      }
    }

    .select2-results {
      padding: spacing("2");

      ul {
        background: var(--input);
        border: 1px solid var(--border);

        .select2-results__option--highlighted {
          border-radius: radius("md");
        }

        .select2-results__option--highlighted[aria-selected] {
          background-color: var(--primary);
        }
      }
    }
  }
}
