.funnel_content {
    width: 100%;
    height: 100%;

    .funnel_board {
        width: 100%;
        display: flex;
        height: calc(100% - 60px);
        overflow-x: auto;

        .funnel_list {
            flex: 0 0 320px;

            & + div {
                border-left: 1px solid var(--gray-200);
            }

            header {
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: var(--gray-200);
                padding: 0 spacing("3");
                color: var(--text);

                .infors {
                    h3 {
                        font-size: fontSize("md");
                    }

                    span {
                        font-size: fontSize("xs");
                    }
                }

                .list_count {
                    font-weight: fontWeight("bold");
                    font-size: fontSize("md");
                    color: $aura-500;
                }
            }

            .funnel_list_stage {
                list-style: none;
                overflow-y: scroll;
                height: calc(100% - 60px);
                padding: spacing("2");

                display: flex;
                flex-direction: column;
                gap: .5rem;

                li {
                    padding: spacing("3");
                    background: var(--gray-200);
                    border: 1px solid var(--gray-200);
                    border-radius: radius("sm");
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    cursor: pointer;

                    .infors {
                        display: flex;
                        align-items: flex-start;
                        width: 100%;

                        .infors_body {
                            width: 100%;
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            gap: spacing("3");

                            .body_data {
                                width: 100%;

                                a {
                                    text-decoration: none;
                                    font-weight: fontWeight("bold");
                                    color: var(--text);

                                    &:hover {
                                        color: var(--aura-500);
                                    }
                                }

                                p {
                                    font-size: fontSize("sm");
                                    color: var(--text);
                                    margin: 0 !important;
                                }
                            }

                            .body_actions {
                                display: flex;
                                align-items: center;
                                gap: spacing("1");
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Others */
.highlight {
    background: transparent;
}

.is-dragging {
    cursor: pointer;
    opacity: 0.3;
}

.over {
    background-color: #c4fdc0;
}