.list {
    width: 100%;
    list-style: none;

    .list_item {
        padding: spacing("3");
        background: var(--background-card);
        border-radius: radius("sm");
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;

        .infors {
            width: 100%;
            display: flex;
            align-items: flex-start;
            gap: spacing("2");

            .infors_body {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: spacing("3");

                .body_data {
                    a {
                        font-weight: fontWeight("bold");
                        color: var(--color);
                        transition: all .2s;

                        &:hover {
                            color: $aura-500;
                        }
                    }

                    p {
                        font-size: fontSize("sm");
                        color: var(--color);
                        margin: 0 !important;
                    }
                }

                .body_actions {
                    display: flex;
                    align-items: center;
                    gap: spacing("1");
                }
            }
        }
    }
}

.list-thumb {
    @extend .list;

    .infors {
        width: 100%;
        display: grid;
        grid-template-columns: 42px 1fr;
        gap: spacing("2");

        .infors_thumb {
            img {
                width: 42px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: radius("full");
                border: 1px solid var(--text);
            }
        }
    }
}

//Backgrounds
@each $color, $value in $colors {
    .list-#{$color} {
        background: #{$value} !important;

        .infors {
            .infors_body {
                a, p {
                    color: #{$white} !important;
                }

                a:hover {
                    color: darken($value, 25%) !important;
                }
            }
        }
    }
}