.message {
    padding: spacing("2");
    border: 1px solid var(--foreground);
    border-radius: radius("md");
    text-align: center;
    .title {
        font-size: fontSize("xl");
        margin-bottom: spacing("2");
    }
    .body {
        a {
            text-decoration: none;
            font-weight: fontWeight("bold");
            color: var(--color);
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}

//Backgrounds
@each $color, $value in $colors {
    .message-#{$color} {
        border-color: #{$value} !important;
        color: #{$value} !important;
        .body {
            a {
                color: #{$value} !important;
            }
        }
    }
}