.modal_right {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    max-width: 360px;
    width: calc(100% - 80px);
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    background: var(--background-card);
    border-left: 1px solid $gray-300;
    z-index: 9999;

  .modal_right_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: spacing("8");
  }

    &::-webkit-scrollbar {
        width: .8rem;
    }

    &::-webkit-scrollbar-track {
        background: $gray-300;
    }

    &::-webkit-scrollbar-thumb {
        background: $aura-500;
        border-radius: .5rem;
    }
}