.modal_right {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    max-width: 360px;
    width: calc(100% - 80px);
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    background: var(--background);
    color: var(--foreground);
    border-left: 1px solid var(--border);
    z-index: 9999;

  .modal_right_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: spacing("8");
  }

    &::-webkit-scrollbar {
        width: .8rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--gray-300);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--aura-500);
        border-radius: .5rem;
    }
}