.modal_right {
    position: fixed;
    display: none;
    top: 0;
    right: -320px;
    max-width: 320px;
    width: calc(100% - 80px);
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    background: $gray-100;
    border-left: 1px solid $gray-300;
    z-index: 1002;

    &::-webkit-scrollbar {
        width: .8rem;
    }

    &::-webkit-scrollbar-track {
        background: $gray-300;
    }

    &::-webkit-scrollbar-thumb {
        background: $aura-500;
        border-radius: .5rem;
    }
}