.paginator {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a, span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        text-decoration: none;
    }

    a {
        color: var(--foreground);
        transition: all .2s;

        &:hover {
            color: var(--primary);
        }
    }

    span {
        background: var(--primary);
        border: 1px solid shade-color($aura-500, 15%);
        border-radius: radius("md");
        color: var(--white);
    }
}