.paginator {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a, span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        text-decoration: none;
    }

    a {
        color: $gray-900;
        transition: all .2s;

        &:hover {
            color: $aura-500;
        }
    }

    span {
        background: $aura-500;
        border: 1px solid shade-color($aura-500, 15%);
        border-bottom-width: 2px;
        border-radius: .5rem;
        color: $white;
    }
}