.sidebar {
  grid-area: sidebar;
  background: var(--background-sidebar);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  @media (max-width: 42em) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1002;

    &.active {
      transform: translateX(0);
    }
  }

  .sidebar_logo {
    width: 100%;
    text-align: center;
    padding: spacing("4") 0;
  }

  .sidebar_navbar {
    margin-top: spacing("4");

    .navbar_li {
      display: block;
      width: 100%;

      &.active {
        a {
          color: var(--aura-500);
          border-right-color: var(--aura-500) !important;
        }
      }

      a {
        display: block;
        width: 100%;
        padding: 0.5rem 2rem;
        color: var(--text);
        font-size: 1rem;
        transition: color 0.2s;
        border-right: 3px solid var(--background-sidebar);

        i {
          margin-right: 0.8rem;
          font-size: 1rem;
        }

        &:before {
          font-size: 1rem;
        }

        &:hover {
          color: var(--aura-500);
        }
      }
    }
  }

  .sidebar_footer {
    color: var(--text);
    text-align: center;
    font-size: .8rem;
    margin-top: 3rem;

    a {
      font-weight: bold;
      color: var(--aura-500);
      
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}