.sidebar {
  grid-area: sidebar;
  background: var(--background-sidebar);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  overflow-y: auto;

  @media (max-width: 42em) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1002;

    &.active {
      transform: translateX(0);
    }
  }

  .sidebar_logo {
    width: 100%;
    text-align: center;
    padding: spacing("4") 0;
  }

  .sidebar_user {
    display: flex;
    align-items: center;
    gap: spacing("2");
    padding: spacing("2") spacing("4");

    .user_thumb {
      height: 32px;

      img {
        width: 32px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border-radius: radius("full");
        border: 2px solid var(--color);

        &:hover {
          border-color: $aura-500;
        }
      }
    }

    .user_data {
      a {
        font-weight: fontWeight("bold");
        color: var(--color);

        &:hover {
          color: $aura-500;
        }
      }

      p {
        font-size: fontSize("xs");
      }
    }
  }

  .sidebar_navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .navbar_li {
      display: block;
      width: 100%;

      &.active {
        a {
          line-height: 0;
          color: $aura-500;
          border-right-color: $aura-500 !important;
        }
      }

      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 35px;
        padding: 0 spacing("4");
        color: var(--color);
        font-size: fontSize("sm");
        transition: color 0.2s;
        border-right: 3px solid var(--background-sidebar);

        i {
          margin-right: spacing("2");
          font-size: fontSize("sm");
          line-height: fontSize("md");
        }

        &:hover {
          color: $aura-500;
        }
      }

      .navbar_li_dropdown {
        display: none;
        flex-direction: column;
        background: color-mix(in srgb, var(--background-sidebar) 95%, #000);

        .navbar_li_dropdown_li {
          a {
            border-right-color: color-mix(in srgb, var(--background-sidebar) 95%, #000);
            color: var(--color);

            &:hover {
              color: $aura-500;
            }
          }
        }
      }

      // Exibir dropdown ao passar o mouse
      // &:hover > .navbar_li_dropdown
      
      &.active > .navbar_li_dropdown {
        display: flex;
        max-height: 500px;
        opacity: 1;
      }
    }

    .li_dropdown {
      // Ícone do item principal com seta opcional
      > a {
        position: relative;

        &::after {
          content: "▾";
          font-weight: 900;
          position: absolute;
          right: spacing("4");
          top: 50%;
          transform: translateY(-50%);
          font-size: fontSize("sm");
          transition: transform 0.3s ease;
        }
      }

      // Girar seta quando aberto
      &:hover > a::after,
      &.active > a::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .sidebar_footer {
    color: var(--color);
    text-align: center;
    font-size: .8rem;
    padding-top: spacing("2");
    padding-bottom: spacing("4");

    a {
      font-weight: bold;
      color: $aura-500;
      
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}