.sidebar {
  grid-area: sidebar;
  background: var(--background-sidebar);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  @media (max-width: 42em) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1002;

    &.active {
      transform: translateX(0);
    }
  }

  .sidebar_logo {
    width: 100%;
    text-align: center;
    padding: spacing("4") 0;
  }

  .sidebar_user {
    display: flex;
    align-items: center;
    gap: spacing("2");
    padding: spacing("4") spacing("4");

    .user_thumb {
      height: 42px;

      img {
        width: 42px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border-radius: radius("full");
        border: 2px solid var(--color);

        &:hover {
          border-color: $aura-500;
        }
      }
    }

    .user_data {
      a {
        font-weight: fontWeight("bold");
        color: var(--color);

        &:hover {
          color: $aura-500;
        }
      }

      p {
        font-size: fontSize("xs");
      }
    }
  }

  .sidebar_navbar {
    margin-top: spacing("4");

    .navbar_li {
      display: block;
      width: 100%;

      &.active {
        a {
          line-height: 0;
          color: $aura-500;
          border-right-color: $aura-500 !important;
        }
      }

      a {
        display: block;
        width: 100%;
        padding: spacing("2") spacing("4");
        color: var(--color);
        font-size: fontSize("sm");
        transition: color 0.2s;
        border-right: 3px solid var(--background-sidebar);

        i {
          margin-right: spacing("2");
          font-size: fontSize("sm");
        }

        &:hover {
          color: $aura-500;
        }
      }
    }
  }

  .sidebar_footer {
    color: var(--color);
    text-align: center;
    font-size: .8rem;
    margin-top: 3rem;

    a {
      font-weight: bold;
      color: $aura-500;
      
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}