.slider-row.margin {
    margin-top: -60px !important;
}

.slider-row {
    position: relative;
    z-index: 15;

    .slider-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem calc($img-gap * 2 * $handle-size);

        .progress-bar {
            display: flex;
            gap: .25rem;

            .progress-item {
                flex: 0 0 1.5rem;
                min-width: 1.5rem;
                height: .5rem;
                background: rgba($color: #000000, $alpha: 0.5);
            }

            .progress-item.active {
                background: rgba($color: #FFFFFF, $alpha: 0.9);
            }
        }
    }

    .slider-container {
        display: flex;
        justify-content: center;
        overflow: hidden;

        .slider {
            --items-per-screen: 4;
            --slider-index: 0;
            display: flex;
            flex-grow: 1;
            margin: 0 $img-gap;
            transform: translateX(calc(var(--slider-index) * -100%));
            transition: transform 250ms ease-in-out;

            .slide {
                flex: 0 0 calc(100% / var(--items-per-screen));
                max-width: calc(100% / var(--items-per-screen));
                padding: $img-gap;
                border-radius: .3rem;
                overflow: hidden !important;
                position: relative;

                img {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    border-radius: .5rem;
                    transition: transform .2s ease;
                }

                .slide-actions {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 15 !important;
                    padding: .5rem;
                    background: rgba($color: #000000, $alpha: 0.5);
                    width: 100%;
                    height: 30%;

                    a {
                        display: block;
                        width: 100% !important;
                        background: $primary;
                        color: #FFF;
                        text-align: center;

                        &:hover {
                            background: $secondary;
                        }
                    }
                }

                img:hover ~ .slide-actions {
                    display: block;
                }
            }
        }

        .handle {
            border-radius: .5rem;
            flex-grow: 0;
            flex-shrink: 0;
            background: rgba($color: #000000, $alpha: 0.4);
            z-index: 10;
            width: $handle-size;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 150ms ease-in-out;

            &:hover, &:focus {
                background: rgba($color: #000000, $alpha: 0.7);
            }
        }
    }
}

/** MEDIA QUERIES **/
@media (max-width: 52em) {
    .slider {
        --items-per-screen: 3 !important;
    }
}

@media (max-width: 42em) {
    .slider {
        --items-per-screen: 2 !important;
    }

    .handle {
        width: 1.8rem !important;
    }
}

@media (max-width: 32em) {
    .slider {
        --items-per-screen: 1 !important;
    }
}