.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 spacing("1");
  tr {
    background: var(--gray-200);
    td, th {
      padding: spacing("3") spacing("5");
      font-size: fontSize("sm");
      &:first-child {
        border-top-left-radius: radius("sm");
        border-bottom-left-radius: radius("sm");
      }
      &:last-child {
        border-top-right-radius: radius("sm");
        border-bottom-right-radius: radius("sm");
      }
      a {
        color: var(--text);
        font-weight: fontWeight("bold");

        &:hover {
          color: var(--aura-500);
        }
      }
      .img_thumb {
        width: 28px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: radius("full");
        border: 1px solid var(--text);

        &:hover {
          border-color: var(--aura-500);
        }
      }
      .img_product {
        width: 60px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: radius("sm");

        border: 1px solid var(--text);

        &:hover {
          border-color: var(--aura-500);
        }
      }
    }
  }
}

//Backgrounds
@each $color, $value in $colors {
  .tr-#{$color} {
    background: #{$value} !important;
    color: #{$white} !important;
    td, th {
      a {
        color: #{$white} !important;
        &:hover {
          color: darken($value, 25%) !important;
        }
      }
      .img_thumb, .img_product {
        border-color: #{$white} !important;
        &:hover {
          border-color: darken($value, 25%) !important;
        }
      }
    }
  }
}