.table-container {
  border: 1px solid var(--border);
  border-bottom: none;
  border-radius: radius("md");
  overflow: visible !important;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  border-radius: radius("md");
  text-indent: 0;
  unicode-bidi: isolate;

  thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    text-align: left;
    background: var(--sidebar);

    tr {
      &:hover {
        background: var(--sidebar);
      }
    }
  }

  tr {
    display: table-row;
    unicode-bidi: isolate;
    background: transparent;
    border-bottom: 1px solid var(--border) !important;

    &:hover {
      background: var(--sidebar-accent);
    }

    td, th {
      display: table-cell;
      unicode-bidi: isolate;
      padding: spacing("3") spacing("5");
      font-size: fontSize("sm");

      @media (max-width: 42em) {
        padding: spacing("2") spacing("4");
      }

      a {
        color: var(--color);
        font-weight: fontWeight("bold");

        &:hover {
          color: $aura-500;
        }
      }

      .img_thumb {
        width: 28px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: radius("full");
        border: 1px solid var(--color);

        &:hover {
          border-color: $aura-500;
        }
      }

      .img_product {
        width: 60px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: radius("sm");

        border: 1px solid var(--color);

        &:hover {
          border-color: $aura-500;
        }
      }

      input, select {
        background-color: transparent;
        border: none;
        font-size: fontSize("md");
        width: 100%;
        min-width: 100px;
        outline: none;
        color: var(--foreground);
      }

      .product-search {
        position: relative;

        .suggestions {
          position: absolute;
          display: none;
          top: 2rem;
          left: 0;
          width: 100%;
          z-index: 1500;
          border: 1px solid var(--border);
          border-radius: radius("md");
          overflow: hidden;

          .suggestion {
            padding: spacing("2") spacing("4");
            cursor: pointer;
            background: var(--card);
            color: var(--foreground);
            box-shadow: $shadow-sm;

            &:hover {
              background: var(--primary);
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

.table-sm {
  @extend .table;

  tr {
    td, th {
      padding: spacing("1") spacing("2");

      .img_thumb {
        width: 22px;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: spacing("1");

        .btn-sm {
          padding: 0;
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &.table-header {
    thead {
      tr {
        background: var(--background-card);

        th {
          padding: spacing("3") spacing("5");
          font-size: fontSize("sm");
          text-align: left;

          &:first-child {
            border-top-left-radius: radius("sm");
            border-bottom-left-radius: 0;
          }

          &:last-child {
            border-top-right-radius: radius("sm");
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    tbody {
      tr {
        background: transparent;
      }
    }
  }
}

//Backgrounds
@each $color, $value in $colors {
  .tr-#{$color} {
    background: #{$value} !important;
    color: #{$white} !important;

    td, th {
      a {
        color: #{$white} !important;
        &:hover {
          color: darken($value, 25%) !important;
        }
      }

      .img_thumb, .img_product {
        border-color: #{$white} !important;
        &:hover {
          border-color: darken($value, 25%) !important;
        }
      }
    }
  }
}