.tabs {
  width: 100%;

  nav {
    width: auto !important;
    display: flex;
    align-items: center;
    border-radius: radius("md");
    padding: spacing("2");
    background: var(--sidebar);

    label {
      display: block;
      font-size: fontSize("md");
      padding: spacing("2") spacing("3");
      font-weight: fontWeight("medium");
      color: var(--card-foreground);
      border: 1px solid transparent;
      border-radius: radius("md");
      background: transparent;
      transition: background-color 0.2s;
      cursor: pointer;

      i {
        margin-right: spacing("1");
      }
    }
  }

  section {
    .tabs-content {
      display: none;
    }
  }

  input[type="radio"] {
    display: none;

    @for $i from 1 through 10 {
      &:nth-of-type(#{$i}):checked {
        ~ nav label.tab-#{$i} {
          background: var(--card);
          border-color: var(--border);
          color: var(--card-foreground);
        }
        ~ section .content-#{$i} {
          display: block !important;
        }
      }
    }
  }
}

@each $color, $value in $colors {
  .tabs-#{$color} {
    nav {
      label {
        color: $value;
        border-color: $value;

        &:hover {
          border-color: shade-color($value, 30%);
          color: shade-color($value, 30%);
        }
      }
    }

    input[type="radio"] {
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}):checked {
          ~ nav label.tab-#{$i} {
            color: $white;
            background: $value;
            border-color: shade-color($value, 30%);
          }
        }
      }
    }
  }
}
