.tabs {
  width: 100%;

  nav {
    width: auto !important;
    display: flex;
    align-items: center;
    border-radius: radius("md");
    padding: spacing("2");
    background: var(--sidebar);

    label {
      display: block;
      font-size: fontSize("md");
      padding: spacing("2") spacing("3");
      font-weight: fontWeight("medium");
      color: var(--card-foreground);
      border: 1px solid transparent;
      border-radius: radius("md");
      background: transparent;
      transition: background-color 0.2s;
      cursor: pointer;

      i {
        margin-right: spacing("1");
      }
    }
  }

  section {
    .tabs-content {
      display: none;
    }
  }

  input[type="radio"] {
    display: none;
  }

  #tab-1:checked ~ nav label.tab-1,
  #tab-2:checked ~ nav label.tab-2,
  #tab-3:checked ~ nav label.tab-3,
  #tab-4:checked ~ nav label.tab-4,
  #tab-5:checked ~ nav label.tab-5,
  #tab-6:checked ~ nav label.tab-6,
  #tab-7:checked ~ nav label.tab-7 {
    background: var(--card);
    border-color: var(--border);
    color: var(--card-foreground);
  }

  #tab-1:checked ~ section .content-1,
  #tab-2:checked ~ section .content-2,
  #tab-3:checked ~ section .content-3,
  #tab-4:checked ~ section .content-4,
  #tab-5:checked ~ section .content-5,
  #tab-6:checked ~ section .content-6,
  #tab-7:checked ~ section .content-7 {
    display: block !important;
  }
}

@each $color, $value in $colors {
  .tabs-#{$color} {
    nav {
      label {
        color: $value;
        border-color: $value;

        &:hover {
          border-color: shade-color($value, 30%);
          color: shade-color($value, 30%);
        }
      }
    }

    #tab-1:checked ~ nav label.tab-1,
    #tab-2:checked ~ nav label.tab-2,
    #tab-3:checked ~ nav label.tab-3,
    #tab-4:checked ~ nav label.tab-4,
    #tab-5:checked ~ nav label.tab-5,
    #tab-6:checked ~ nav label.tab-6,
    #tab-7:checked ~ nav label.tab-7 {
      color: $white;
      background: $value;
      border-color: shade-color($value, 30%);
    }
  }
}
