.toasts {
  position: fixed;
  top: 2rem;
  right: 1rem;
  list-style: none;
  z-index: 2000;

  .toast {
    width: 320px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background: $white;
    justify-content: space-between;
    border: 1px solid $gray-400;
    border-bottom-width: 2px;
    position: relative;
    overflow: hidden;
    animation: show_toast 0.3s ease forwards;
    display: flex;
    flex-direction: column;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      animation: progress 3s linear forwards;
    }

    &.hide {
      animation: hide_toast 0.3s ease forwards;
    }

    @each $color, $value in $colors {
      &.#{$color} {
        border-color: #{$value};
        .column {
          i {
            color: #{$value};
          }
        }
      }

      &.#{$color}::before {
        background: #{$value};
      }
    }

    .column {
      display: flex;
      align-items: center;
      i {
        font-size: 1.7rem;
      }
      span {
        font-size: 1.07rem;
        margin-left: 0.9rem;
      }
    }

    i:last-child {
      color: $gray-600;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: $aura-500;
      }
    }
  }
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-0.5rem);
  }
}

@keyframes hide_toast {
  0% {
    transform: translateX(-0.5rem);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 1rem));
  }
}

@keyframes progress {
  100% {
    width: 0%;
  }
}