.toasts {
  position: fixed;
  top: 2rem;
  right: 1rem;
  list-style: none;
  z-index: 2000;

  .toast {
    min-width: 360px;
    max-width: 414px;
    border-radius: radius("md");
    padding: spacing("4");
    margin-bottom: spacing("1");
    background: var(--card);
    justify-content: space-between;
    border: 1px solid var(--border);
    position: relative;
    overflow: hidden;
    animation: show_toast 0.6s ease forwards;
    display: flex;
    flex-direction: column;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 6px;
      bottom: 0;
      left: 0;
      animation: progress 6s linear forwards;
    }

    &.hide {
      animation: hide_toast 0.6s ease forwards;
    }

    @each $color, $value in $colors {
      &.#{$color} {
        border-color: #{$value};
        .column {
          i {
            color: #{$value};
          }
        }
      }

      &.#{$color}::before {
        background: #{$value};
      }
    }

    .column {
      display: flex;
      align-items: center;
      i {
        font-size: fontSize("4xl");
      }
      span {
        font-size: fontSize("md");
        margin-left: spacing("3");
      }
    }

    i:last-child {
      color: $gray-600;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: $aura-500;
      }
    }
  }
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-0.5rem);
  }
}

@keyframes hide_toast {
  0% {
    transform: translateX(-0.5rem);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 1rem));
  }
}

@keyframes progress {
  100% {
    width: 0%;
  }
}