.app {
  grid-area: app;

  .app_box {
    margin: spacing("8") 0;

    /*Sidebar content app*/
    .box_sidebar {
      nav {
        display: flex;
        gap: spacing("2");

        a {
          display: block;
          font-size: fontSize("md");
          padding: spacing("2") spacing("3");
          font-weight: fontWeight("medium");
          color: var(--text);
          border: 1px solid var(--gray-200);
          border-radius: radius("sm");
          background: transparent;
          transition: background-color 0.2s;

          &.active, &:hover {
            background: var(--gray-200);
            color: var(--text);
          }
        }
      }
    }

    @media (max-width: 42em) {
      .box_sidebar {
        overflow-y: auto !important;
        white-space: nowrap !important;

        nav {
          display: flex !important;
          align-items: center;
          flex-wrap: nowrap;
          gap: 0.5rem;

          a {
            padding: spacing("3") spacing("4");
          }
        }
      }
    }

    /*header content app*/
    .box_content {
      .box_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 42em) {
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
        }

        .header_title {
          font-size: fontSize("4xl");

          @media (max-width: 42em) {
            font-size: fontSize("2xl");
          }
        }

        .header_actions {
          display: flex;
          gap: spacing("2");

          @media (max-width: 42em) {
            flex-direction: column;
          }
        }
      }
    }
  }

  @media (max-width: 42em) {
    .content_app_box {
      grid-template-columns: 1fr;
    }
  }
}
