:root,
[data-aura-theme="light"] {
  @each $color, $value in $light-mode-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $shadow, $value in $shadows {
    --shadow-#{$shadow}: #{$value};
  }
}

[data-aura-theme="dark"] {
  @each $color, $value in $dark-mode-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $shadow, $value in $shadows {
    --shadow-#{$shadow}: #{$value};
  }
}

//Magins and Paddings
.m-0 {
  margin: 0 !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.my-auto {
  margin: auto 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

@each $spacing, $value in $spaces {
  .m-#{$spacing} {
    margin: #{$value} !important;
  }

  .mx-#{$spacing} {
    margin: 0 #{$value} !important;
  }

  .my-#{$spacing} {
    margin: #{$value} 0 !important;
  }

  .mt-#{$spacing} {
    margin-top: #{$value} !important;
  }

  .mb-#{$spacing} {
    margin-bottom: #{$value} !important;
  }

  .ml-#{$spacing} {
    margin-left: #{$value} !important;
  }

  .mr-#{$spacing} {
    margin-right: #{$value} !important;
  }
}

.p-0 {
  padding: 0 !important;
}

@each $spacing, $value in $spaces {
  .p-#{$spacing} {
    padding: #{$value} !important;
  }

  .px-#{$spacing} {
    padding: 0 #{$value} !important;
  }

  .py-#{$spacing} {
    padding: #{$value} 0 !important;
  }

  .pt-#{$spacing} {
    padding-top: #{$value} !important;
  }

  .pb-#{$spacing} {
    padding-bottom: #{$value} !important;
  }

  .pl-#{$spacing} {
    padding-left: #{$value} !important;
  }

  .pr-#{$spacing} {
    padding-right: #{$value} !important;
  }
}

//Texts Sizing, Weights and align
@each $sizing, $value in $fontSizes {
  .text-#{$sizing} {
    font-size: #{$value} !important;
  }
}

@each $weight, $value in $fontWeights {
  .text-#{$weight} {
    font-weight: #{$value} !important;
  }
}

@each $color, $value in $colors {
  .text-#{$color} {
    color: #{$value} !important;
  }

  .event-#{$color} {
    background: $value !important;
    color: $white !important;

    &:hover {
      background: darken($value, 15%) !important;
    }
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

//radius
@each $radio, $value in $radius {
  .radius-#{$radio} {
    border-radius: #{$value} !important;
  }
}

//shadows
@each $shadow, $value in $shadows {
  .shadow-#{$shadow} {
    box-shadow: #{$value} !important;
  }
}

//Thumbnails
.thumbnails-container {
  display: flex;
  align-items: flex-start;
  gap: spacing("2");
}

@each $thumbnail, $value in $thumbnails {
  .thumbnail-#{$thumbnail} {
    img {
      width: #{$value};
      object-fit: cover;
      aspect-ratio: 1 / 1;
      border: ($value / 12) solid var(--color);

      &:hover {
        border-color: $aura-500;
      }
    }
  }

  @each $radio, $value in $radius {
    .thumb-radius-#{$radio} {
      img {
        border-radius: #{$value} !important;
      }
    }
  }

  .thumbnails-#{$thumbnail} {
    display: flex;
    align-items: center;

    & > * {
      margin-right: -($value / 3);
    }

    img {
      width: #{$value};
      object-fit: cover;
      aspect-ratio: 1 / 1;
      border-radius: radius("full");
      border: ($value / 12) solid var(--background);
      position: relative;

      &:hover {
        border-color: $aura-500;
        z-index: 999;
      }
    }

    .thumbnails_button {
      width: #{$value};
      height: #{$value};
      border-radius: radius("full");
      border: ($value / 12) solid var(--background);
      cursor: pointer;
      position: relative;
      z-index: 800;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      background-color: var(--gray-100);
      color: var(--color);
      font-size: fontSize("md");

      &:hover {
        border-color: $aura-500;
      }
    }
  }
}