:root,
[data-aura-theme="light"] {
  @each $color, $value in $light-mode-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $shadow, $value in $shadows {
    --shadow-#{$shadow}: #{$value};
  }
}

[data-aura-theme="dark"] {
  @each $color, $value in $dark-mode-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $shadow, $value in $shadows {
    --shadow-#{$shadow}: #{$value};
  }
}

//Magins and Paddings
@include hoverable(m-0) {
  margin: 0 !important;
}

@include hoverable(mx-auto) {
  margin: 0 auto !important;
}

@include hoverable(my-auto) {
  margin: auto 0 !important;
}

@include hoverable(ml-auto) {
  margin-left: auto !important;
}

@include hoverable(mr-auto) {
  margin-right: auto !important;
}

@each $spacing, $value in $spaces {
  @include hoverable(m-#{$spacing}) {
    margin: #{$value} !important;
  }

  @include hoverable(mx-#{$spacing}) {
    margin: 0 #{$value} !important;
  }

  @include hoverable(my-#{$spacing}) {
    margin: #{$value} 0 !important;
  }

  @include hoverable(mt-#{$spacing}) {
    margin-top: #{$value} !important;
  }

  @include hoverable(mb-#{$spacing}) {
    margin-bottom: #{$value} !important;
  }

  @include hoverable(ml-#{$spacing}) {
    margin-left: #{$value} !important;
  }

  @include hoverable(mr-#{$spacing}) {
    margin-right: #{$value} !important;
  }
}

@include hoverable(p-0) {
  padding: 0 !important;
}

@each $spacing, $value in $spaces {
  @include hoverable(p-#{$spacing}) {
    padding: #{$value} !important;
  }

  @include hoverable(px-#{$spacing}) {
    padding: 0 #{$value} !important;
  }

  @include hoverable(py-#{$spacing}) {
    padding: #{$value} 0 !important;
  }

  @include hoverable(pt-#{$spacing}) {
    padding-top: #{$value} !important;
  }

  @include hoverable(pb-#{$spacing}) {
    padding-bottom: #{$value} !important;
  }

  @include hoverable(pl-#{$spacing}) {
    padding-left: #{$value} !important;
  }

  @include hoverable(pr-#{$spacing}) {
    padding-right: #{$value} !important;
  }
}

//Texts Sizing, Weights and align
@each $sizing, $value in $fontSizes {
  @include hoverable(text-#{$sizing}) {
    font-size: #{$value} !important;
  }
}

@each $weight, $value in $fontWeights {
  @include hoverable(text-#{$weight}) {
    font-weight: #{$value} !important;
  }
}

@each $color, $value in $colors {
  @include hoverable(text-#{$color}) {
    color: #{$value} !important;
  }

  .event-#{$color} {
    background: $value !important;
    color: $white !important;

    &:hover {
      background: darken($value, 15%) !important;
    }
  }
}

@include hoverable(text-center) {
  text-align: center !important;
}

@include hoverable(text-left) {
  text-align: left !important;
}

@include hoverable(text-right) {
  text-align: right !important;
}

//radius
@each $radio, $value in $radius {
  @include hoverable(radius-#{$radio}) {
    border-radius: #{$value} !important;
  }
}

//shadows
@each $shadow, $value in $shadows {
  @include hoverable(shadow-#{$shadow}) {
    box-shadow: #{$value} !important;
  }
}

//Backgrounds
@each $color, $value in $colors {
  @include hoverable(bg-#{$color}) {
    background-color: #{$value} !important;
  }
}

@include hoverable(bg-card) {
  background-color: var(--card) !important;
}

@include hoverable(bg-transparent) {
  background-color: transparent !important;
}

// Borders
@include hoverable(border) {
  border-width: 1px !important;
}

@include hoverable(border-0) {
  border-width: 0px !important;
}

@include hoverable(border-2) {
  border-width: 2px !important;
}

@include hoverable(border-4) {
  border-width: 4px !important;
}

@include hoverable(border-8) {
  border-width: 8px !important;
}

@include hoverable(border-t) {
  border-top-width: 1px !important;
}

@include hoverable(border-r) {
  border-right-width: 1px !important;
}

@include hoverable(border-b) {
  border-bottom-width: 1px !important;
}

@include hoverable(border-l) {
  border-left-width: 1px !important;
}

@include hoverable(border-t-0) {
  border-top-width: 0px !important;
}

@include hoverable(border-r-0) {
  border-right-width: 0px !important;
}

@include hoverable(border-b-0) {
  border-bottom-width: 0px !important;
}

@include hoverable(border-l-0) {
  border-left-width: 0px !important;
}

@include hoverable(border-t-2) {
  border-top-width: 2px !important;
}

@include hoverable(border-r-2) {
  border-right-width: 2px !important;
}

@include hoverable(border-b-2) {
  border-bottom-width: 2px !important;
}

@include hoverable(border-l-2) {
  border-left-width: 2px !important;
}

@include hoverable(border-t-4) {
  border-top-width: 4px !important;
}

@include hoverable(border-r-4) {
  border-right-width: 4px !important;
}

@include hoverable(border-b-4) {
  border-bottom-width: 4px !important;
}

@include hoverable(border-l-4) {
  border-left-width: 4px !important;
}

@include hoverable(border-t-8) {
  border-top-width: 8px !important;
}

@include hoverable(border-r-8) {
  border-right-width: 8px !important;
}

@include hoverable(border-b-8) {
  border-bottom-width: 8px !important;
}

@include hoverable(border-l-8) {
  border-left-width: 8px !important;
}

// Border Colors
@each $color, $value in $colors {
  @include hoverable(border-#{$color}) {
    border-color: #{$value} !important;
  }
}

@include hoverable(border-default) {
  border-color: var(--border) !important;
}

@include hoverable(border-transparent) {
  border-color: transparent !important;
}

// Border Styles
@include hoverable(border-solid) {
  border-style: solid !important;
}

@include hoverable(border-dashed) {
  border-style: dashed !important;
}

@include hoverable(border-dotted) {
  border-style: dotted !important;
}

@include hoverable(border-double) {
  border-style: double !important;
}

@include hoverable(border-none) {
  border-style: none !important;
}

//Thumbnails
.thumbnails-container {
  display: flex;
  align-items: flex-start;
  gap: spacing("2");
}

@each $thumbnail, $value in $thumbnails {
  .thumbnail-#{$thumbnail} {
    img {
      width: #{$value};
      object-fit: cover;
      aspect-ratio: 1 / 1;
      border: ($value / 12) solid var(--color);

      &:hover {
        border-color: $aura-500;
      }
    }
  }

  @each $radio, $value in $radius {
    .thumb-radius-#{$radio} {
      img {
        border-radius: #{$value} !important;
      }
    }
  }

  .thumbnails-#{$thumbnail} {
    display: flex;
    align-items: center;

    &>* {
      margin-right: -($value / 3);
    }

    img {
      width: #{$value};
      object-fit: cover;
      aspect-ratio: 1 / 1;
      border-radius: radius("full");
      border: ($value / 12) solid var(--background);
      position: relative;

      &:hover {
        border-color: $aura-500;
        z-index: 999;
      }
    }

    .thumbnails_button {
      width: #{$value};
      height: #{$value};
      border-radius: radius("full");
      border: ($value / 12) solid var(--background);
      cursor: pointer;
      position: relative;
      z-index: 800;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      background-color: var(--gray-100);
      color: var(--color);
      font-size: fontSize("md");

      &:hover {
        border-color: $aura-500;
      }
    }
  }
}