:root,
[data-aura-theme="light"] {
  @each $color, $value in $light-mode-colors {
    --#{$color}: #{$value};
  }
}

[data-aura-theme="dark"] {
  @each $color, $value in $dark-mode-colors {
    --#{$color}: #{$value};
  }
}

//Magins and Paddings
.m-0 {
  margin: 0 !important;
}

@each $spacing, $value in $spaces {
  .m-#{$spacing} {
    margin: #{$value} !important;
  }

  .mx-#{$spacing} {
    margin: 0 #{$value} !important;
  }

  .my-#{$spacing} {
    margin: #{$value} 0 !important;
  }

  .mt-#{$spacing} {
    margin-top: #{$value} !important;
  }

  .mb-#{$spacing} {
    margin-bottom: #{$value} !important;
  }

  .ml-#{$spacing} {
    margin-left: #{$value} !important;
  }

  .mr-#{$spacing} {
    margin-right: #{$value} !important;
  }
}

.p-0 {
  padding: 0 !important;
}

@each $spacing, $value in $spaces {
  .p-#{$spacing} {
    padding: #{$value} !important;
  }

  .px-#{$spacing} {
    padding: 0 #{$value} !important;
  }

  .py-#{$spacing} {
    padding: #{$value} 0 !important;
  }

  .pt-#{$spacing} {
    padding-top: #{$value} !important;
  }

  .pb-#{$spacing} {
    padding-bottom: #{$value} !important;
  }

  .pl-#{$spacing} {
    padding-left: #{$value} !important;
  }

  .pr-#{$spacing} {
    padding-right: #{$value} !important;
  }
}