/** Colors Sistem */
$white: #fff !default;
$gray-100: #fafafa !default;
$gray-200: #ededed !default;
$gray-300: #b2b2bc !default;
$gray-400: #7c7c8a !default;
$gray-600: #323238 !default;
$gray-700: #39393e !default;
$gray-800: #202024 !default;
$gray-900: #121214 !default;
$black: #000 !default;

/** Color-variables */
$blue: #0084ff !default;
$red: #e92c2c !default;
$yellow: #ff9f2d !default;
$green: #00ba34 !default;

/** Theme color variables */
$aura-500: #EC1889 !default;
$aura-600: #b60e6a !default;

$colors: (
  "aura-500": $aura-500,
  "aura-600": $aura-600,
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "gray-200": $gray-200,
  "gray-400": $gray-400,
  "gray-800": $gray-800,
) !default;

/** Theme colors map */
$light-mode-colors: (
  "aura-500": $aura-500,
  "aura-600": $aura-600,
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "background": $white,
  "background-sidebar": $gray-100,
  "background-card": $gray-100,
  "background-calendar-inactive": $gray-100,
  "background-calendar": $gray-200,
  "text": $gray-600,
  "text-invert": $gray-100,
  "gray": $gray-600,
  "gray-dark": $gray-400,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-600": $gray-600,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
) !default;

$dark-mode-colors: (
  "aura-500": $aura-500,
  "aura-600": $aura-600,
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "background": $gray-600,
  "background-sidebar": $gray-900,
  "background-card": $gray-900,
  "background-calendar-inactive": $gray-800,
  "background-calendar": $gray-900,
  "text": $gray-100,
  "text-invert": $gray-600,
  "gray-100": $gray-900,
  "gray-200": $gray-800,
  "gray-300": $gray-600,
  "gray-400": $gray-400,
  "gray-600": $gray-300,
  "gray-800": $gray-200,
  "gray-900": $gray-100,
) !default;

/** Theme fonts */
$fonts: (
  "default": 'Roboto'
) !default;

$fontSizes: (
  "xxs": 0.625rem,
  "xs": 0.75rem,
  "sm": 0.875rem,
  "md": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  '2xl': 1.5rem,
  '4xl': 2rem,
  '5xl': 2.25rem,
  '6xl': 3rem,
  '7xl': 4rem,
  '8xl': 4.5rem,
  '9xl': 6rem,
);

$fontWeights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$radius: (
  "px": 1px,
  "xs": 4px,
  "sm": 6px,
  "md": 8px,
  "lg": 16px,
  "full": 99999px,
);

$spaces: (
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.25rem,
  "6": 1.5rem,
  "7": 1.75rem,
  "8": 2rem,
  "10": 2.5rem,
  "12": 3rem,
  "16": 4rem,
  "20": 5rem,
  "40": 10rem,
  "64": 16rem,
  "80": 20rem,
);

$thumbnails: (
  "4": 16px,
  "6": 24px,
  "8": 32px,
  "16": 64px,
  "32": 128px
);

/* GRID */
$grid-columns: 12;
$gutter-width: 1rem;
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);