* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

/* Elements */
html,
body {
  background: $body-bg;
  color: $body-color;
}

img {
  max-width: 100%;
}

img a {
  border: none;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
}

/* Video, Iframes */
embed,
video,
iframe,
iframe[style] {
  max-width: 100%;
  height: auto;
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed iframe,
.embed object,
.embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Container */
.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

@media (max-width: 42em) {
  .container {
    padding: 0 1rem;
  }
}

.w100 {
  width: 100% !important;
}

//Groups
.gv {
  display: grid;
  grid-template-columns: 1fr;
}

.g2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.g2l {
  display: grid;
  grid-template-columns: 17% 1fr;
}

.g2r {
  display: grid;
  grid-template-columns: 1fr 30%;
}

.g3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.g4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.g5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 32em) {

  .g2,
  .g2l,
  .g2r,
  .g3,
  .g4,
  .g5 {
    grid-template-columns: 1fr;
  }

  .sm-gap-0 {
    gap: 0 !important;
  }
}

//Displays
.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-block {
  display: block !important;
}

//Gaps
.gap-03 {
  gap: 0.3rem !important;
}

.gap-05 {
  gap: 0.5rem !important;
}

.gap {
  gap: 1rem !important;
}

.gap-2 {
  gap: 2rem !important;
}

.gap-3 {
  gap: 3rem !important;
}

.gap-4 {
  gap: 4rem !important;
}

.gap-5 {
  gap: 5rem !important;
}

/* ALIGNS */
.align-start {
  align-items: flex-start !important;
}

/* Effects */
.radius {
  -webkit-border-radius: $radius-normal;
  -moz-border-radius: $radius-normal;
  border-radius: $radius-normal;
}

.rounded {
  -webkit-border-radius: $radius-round;
  -moz-border-radius: $radius-round;
  border-radius: $radius-round;
}

/* Margins */
.m-0 {
  margin: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-03 {
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}

.my-05 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.mx-03 {
  margin-left: 0.3rem !important;
  margin-right: 0.3rem !important;
}

.mx-05 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.m-03 {
  margin: 0.3rem !important;
}

.m-05 {
  margin: 0.5rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.mt-03 {
  margin-top: 0.3rem !important;
}

.mt-05 {
  margin-top: 0.5rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-03 {
  margin-bottom: 0.3rem !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

/* Paddings */
.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-03 {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.py-05 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.px-03 {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}

.px-05 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.px-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.p-03 {
  padding: 0.3rem !important;
}

.p-05 {
  padding: 0.5rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.pt-03 {
  padding-top: 0.3rem !important;
}

.pt-05 {
  padding-top: 0.5rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-03 {
  padding-bottom: 0.3rem !important;
}

.pb-05 {
  padding-bottom: 0.5rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

/* Texts -> Align */
/** **/
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/* Texts -> Colors */
@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: $value !important;
  }
}

/* Backgrounds -> Colors */
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background: $value !important;
  }
}

/** PRE */

pre {
  font-size: 1.16em;
  font-family: Fixed, monospace;
  margin-bottom: 2em;
  line-height: 1.7em;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: hidden;
}

.tcy {
  border: 1px solid #005cb9;
  background-color: #f1f5f9;
  overflow: auto;
  padding: 1em !important;
  overflow-y: hidden;
}