@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@300;400;900&display=swap");

//ROOT 
@import "boot/variables";
@import "boot/functions";
@import "boot/mixins";
@import "boot/theme";
@import "boot/grid";
@import "boot/reset";
@import "boot/utilities";
@import "boot/typography";
@import "boot/animations";
@import "boot/accessibility";

//COMPONENTSS
@import "components/sidebar";
@import "components/navbar";
@import "components/button";
@import "components/form";
@import "components/card";
@import "components/list";
@import "components/table";
@import "components/message";
@import "components/modal";
@import "components/modal_right";
@import "components/paginator";
@import "components/calendar";
@import "components/toast";
@import "components/loader";
@import "components/tabs";
@import "components/tags";
@import "components/accordion";
@import "components/funnel";
@import "components/sliders";
@import "components/carousels";
@import "components/fab";
@import "components/badge";
@import "components/alert";
@import "components/progress";
@import "components/breadcrumb";
@import "components/tooltip";
@import "components/skeleton";
@import "components/divider";
@import "components/avatar";
@import "components/stepper";
@import "components/docs";

//PAGES
@import "pages/default";
@import "pages/profile";
@import "pages/login";
@import "pages/visitcard";
@import "pages/auraflix";
